
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
	background: white;
	font-family: 'Source Sans Pro', san-serif;
	font-size: 18px;
}

main {	
	background: url("https://lgdesigns.github.io/unit_3/images/main-garden.jpg"); 
	background-size: cover;
	text-align: center;
	font-style: italic;
	padding: 40px;
}
nav {
	margin: 4em;
	text-align: center;
	font-size: 1em;
}
a {
	text-decoration: none;
	color: black;
}
span{
	padding: 0 2em;
}
div {
	margin: 4em;
}
h1 {
	color: #E6E6FA;
	font-family: 'Source Sans Pro', san-serif;
	font-size: 2em;
}
h3 {
	color: #E6E6FA;
	font-family: 'Source Sans Pro', san-serif;
	font-size: 1.7em;
}
img {
	display: block;
	margin: 0 auto;
}
#products {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.plants {
  width: 16.6%;
  height: 300pt;
  padding: .8%px;
  margin: 0 .8%px;
  float: left;
}
#tulsi {
	background-color: #00FF7F;
	padding: .8%
}
#lavender {
	background-color: #D8BFD8;
	padding: .8%;
}
#lemonbalm {
	background-color: #F0E68C;
	padding: .8%;
}
#lemongrass {
	background-color: #94CD32;
	padding: .8%;
}
#spilanthes {
	background-color: #FF8C00;
	padding: .8%;
}
#explore {
  width: 100%;
  margin: 0 auto;
}
#docs {
  width: 100%;
  margin: 0 auto;
}
.bio {
  width: 45.8%;
  padding: .4%;
  margin: 0 .8%;
  float: left;
  background-color: green;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
h4 {
	font-size: 1.5em;
}

h5 {
	padding: 1em;
	font-size: 1.3em;
}
p {
	font-family: times new roman, serif;
}
footer {
  width: 100%;
  margin: 0 auto;
  clear: both;
}

@media only screen and (max-width: 1300px) {
	.plants {
  	width: 29.3%;
  	height: 300pt;
 	padding: 1%px;
  	margin: 0 1%px;
  	float: left;
	}
}

@media only screen and (max-width: 800px) {
	.plants {
  	width: 48%;
  	height: 300pt;
 	padding: 1%px;
  	margin: 0 1%px;
  	float: left;
	}
	nav {
	margin: 2em;
	}
}

@media only screen and (max-width: 480px) {
	.plants {
  	width: 98%;
  	height: 300pt;
 	padding: 1%px;
  	margin: 0 1%px;
  	float: left;
	}
	.bio {
  	width: 98%;
 	padding: 1%px;
  	margin: 0 1%px;
  	float: none;
	}
}