body {
	background: url("https://i.imgur.com/MQyO1Tj.jpg");
	text-align: center;
	font-family: arial, san-serif;
}
h3 {
	color: #4169E1;
}
p {
	color: #FF0000;
}
#sig {
	font-family: pacifico, san-serif;
	color: #FF69B4;
}