main {	
	background: url("https://lgdesigns.github.io/unit_3/images/main-garden.jpg"); 
	background-size: cover;
	text-align: center;
	font-family: arial, san-serif;
	font-style: italic;
}
h1 {
	color: #E6E6FA;
}
h3 {
	color: #E6E6FA;
}
#tulsi {
	background-color: #00FF7F
	text-align: center;
	font-family: arial, san-serif;
}
#lavender {
	background-color: #D8BFD8
	text-align: center;
	font-family: arial, san-serif;
}
#lemonbalm {
	background-color: #F0E68C
	text-align: center;
	font-family: arial, san-serif;
}
#lemongrass {
	background-color: #94CD32
	text-align: center;
	font-family: arial, san-serif;
}
#spilanthes {
	background-color: #FF8C00
	text-align: center;
	font-family: arial, san-serif;
}
h4, h5, footer, p, nav {
	font-family: arial, san-serif;
}